body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #333; 
    overflow: hidden;
    transition: 0.5s; 
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline;
}

.navbar a:hover {
    background-color: #555; 
    color: white;
}

.logo {
    float: left;
    padding: 15px;
    font-size: 20px;
    color: white;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; 
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .navbar {
        overflow: hidden;
    }

    .logo {
        float: none;
        display: block;
        text-align: center;
    }

    .nav-list {
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }
}
